<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="">
    <select id="selectAll" resultType="com.ellis.entity.User">
        select * from user
    </select>
    <select id="selectUserByUsername" resultType="com.ellis.entity.User">
        select * from user where username=#{username}
    </select>
    <insert id="insertUser" >
        insert into user values(#{id},#{username},#{password},#{age})
    </insert>
    <delete id="deleteUserByid">
        delete * from user where id=#{id}
    </delete>
</mapper>